* {
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1050px;
  min-height: 530px;
  background-color: #E1E5EE;
}

/* ===== MENU ===== */

#menu {
  width: 200px;
  float: left;
  background-color: #C7CCDB;
}

#logo {
  width: 100%;
  color: #2A324B;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 0;
}

#developer {
  font-size: 15px;
}

.topic {
  color: #E1E5EE;
  font-size: 15px;
  background-color: #767B91;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.defaultCursor {
  cursor: default;
}

.pointerCursor {
  cursor: pointer;
}

#setModifier {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-top-color: #C7CCDB;
  border-bottom-color: #C7CCDB;
}

#modifierSelector {
  height: 7px;
  width: 150px;
  margin-left: 15px;
  cursor: pointer;
}

.sortingTypes {
  cursor: pointer;
  list-style-type: none;
  color: #E1E5EE;
  font-size: 15px;
  background-color: #767B91;
  padding: 5px 0 5px 20px;
}

.currentAlgorithm {
  list-style-type: none;
  color: #E1E5EE;
  font-size: 15px;
  background-color: #2A324B;
  padding: 5px 0 5px 20px;
}

#generateNewArray:hover, #setModifier:hover,
.sortingTypes:hover {
  background-color: #2A324B;
}

/* ===== CONTENT ===== */
#sortingContent {
  width: calc(100% - 200px);
  height: 530px;
  float: left;
}

#elementsSpace {
  width: 800px;
  margin: 0 auto;
}

.element {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 4px;
  float: left;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
